.account_base {
    height: 13vh;
    width: 100%;

}

.account_container {
    display:none;
    margin: 10px;
    padding: 10px;
    width: 100%;

}


.account_show-info {
    display: inline;
}

.account_info-excerpt {
    > div {
        margin: 10px;
    }
}


.account_show-favorites {
    display: inline;
}

.account_show-account-settings {
    display: inline;
}

.account_no-user {
    margin-left: 30px;
    width: 100%;
    position: absolute; 
    font-size: 1.7em;
    margin-top: 40px;
}


.bars {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    padding-top: 100px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.5s;
}
.bar1x {
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.bar2x {
    opacity: 0;
}
.bar3x {
    transform: rotate(45deg) translate(-8px, -8px) ;
}
  
.account_menu {
    position: relative;
    padding-top: 100px;
    height:100vh;
    width:250px;
    background-color: white; 
    transition: all .5s;
    left: -300px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);  
}
  
.account_sidebar {
    position: relative;
    width:100%;
    top: 60px;

    :first-child {
     border-top: 1px solid #333;  
    }
}
    
.account_sidebar a {
    text-decoration:none;
}
  
.account_link {
    background-color: white;
    padding: 20px;
    font-size: 12pt;
    color: #333;
    transition: All .5s linear;
    width: 100%;
    border:none;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    cursor: pointer;
    outline: none;

    a {
        border-top:none !important;
        color: #333;
        width: 100%;
        height: 100%;
    }
}
  
.account_link:hover {
    background-color: rgba(224, 222, 222, 0.897);
}
  
.account_menuShow {
    transform: translateX(300px);
}

.account_flex {
    display:flex;
}

.account_link-open {
    border-right: none;
}

.account_indexes {
    background-color: white;
    width: 100%;
    margin-top: 30px;
}

.account_indexes-position {
    position: absolute;
}

.account_settings-excerpt {
    opacity: 0;
}

.account_settings-excerpt-show {
    opacity: 1;
}

.account_flex_profile {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.account_space {
    justify-content: space-around;
}

.account_picture {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.account_width {
    width: 100%;
}

.account_greeting {
    display: flex;
    margin: 0 auto;
    font-size: 1.5em;
    margin-bottom: 20px;

    > div {
        padding-top: 10px;
        margin-left: 10px;
    }
}