.account_base {
    height: 13vh;
    width: 100%;

}

.account_show-info {
    margin: 10px;
    padding: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    > div {
        margin: 10px;
    }
}


.account_show-favorites {
    display: inline;
}

.account_show-account-settings {
    display: inline;
}

.account_no-user {
    margin-left: 30px;
    width: 100%;
    font-size: 1.7em;
    margin-top: 40px;
}


.bars {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    padding-top: 100px;
    display: initial !important;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.5s;
}
.bar1x {
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.bar2x {
    opacity: 0;
}
.bar3x {
    transform: rotate(45deg) translate(-8px, -8px) ;
}
  
.account_menu {
    position: relative;
    padding-top: 100px;
    height:100vh;
    width:250px;
    background-color: white; 
    transition: all .5s;
    left: -300px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);  
}
  
.account_sidebar {
    position: relative;
    width:100%;
    top: 60px;

    :first-child {
     border-top: 1px solid #333;  
    }
}

.account_link2 {
    background-color: white;
    padding: 20px;
    font-size: 12pt;
    color: #333;
    transition: All .5s linear;
    width: 100%;
    border:none;
    border-bottom: 1px solid #333;
    cursor: pointer;
    outline: none; 
    border-top: none !important; 
}

    
.account_sidebar a {
    text-decoration:none;
    border: none !important;
}
  
.account_link {
    background-color: white;
    padding: 20px;
    font-size: 12pt;
    color: #333;
    transition: All .5s linear;
    width: 100%;
    border:none;
    border-bottom: 1px solid #333;
    cursor: pointer;
    outline: none;
}
  
.account_link:hover {
    background-color: rgba(224, 222, 222, 0.897);
}
  
.account_menuShow {
    transform: translateX(300px);
}

.account_flex {
    display:flex;
}

.account_link-open {
    border-right: none;
}

.account_indexes {
    background-color: white;
    width: 80%;
    margin: 0 auto;
}

.account_indexes-position {
    position: static;
}

.account_settings-excerpt {
    display: none;

}

.account_settings-excerpt-show {
    display: inherit;
    > div {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    border-bottom: .5px solid gray;
    margin: 20px;
    padding: 10px;
    }
}

.account_shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.09);
}

.account_input_address {
    width: 140px;
    height: 20px;
    margin-right: 5px;
}

.account_input_short {
    width: 90px;
    height: 20px;
    margin-right: 5px;
}

.account_selector > select {
    height: 26px;
}

.account_flex_profile {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 1.2em;
    font-weight: bold;
    > div {
        margin-top: 10px;
    }
}

.account_date {
    font-size: 1.2em;
    margin-top: 20px;

    > div {
        margin-top: 20px;

        > a {
            text-decoration: underline;
            color: black;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

.account_space {
    justify-content: space-around;
    border: .5px solid #f5f5f5;
    padding: 0px 10px 10px 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.09);
    background-color: white;
}

.account_picture {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.account_width {
    width: 100%;
}

.account_greeting {
    display: flex;
    margin: 0 auto;
    font-size: 1.5em;
    margin-bottom: 20px;

    > div {
        padding-top: 10px;
        margin-left: 10px;
    }
}

.account_address {
    padding-top: 5px;
    font-size: 1.1em;
    

    > div {
        text-transform: uppercase;
        font-weight: 300;
    }

    > a {
        text-decoration: underline;
        color: black;
        font-weight: bold;
        cursor: pointer;
    }
}

.account_before-excerpt > div{
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    border-bottom: .5px solid gray;
    margin: 20px;
    padding: 10px;
}

.account_before-excerpt {
    padding: 10px;
}

.account_settings-excerpt-hide {
    display: none;
}

.account_button {
    display: flex;
    flex-direction: row-reverse;
    border-bottom: none !important;
}

.account_history_chart {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    > div {
        flex: 1;
    }
}

.account_history_chart-title {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;

    > span {
        flex: 1;
    }
}

.account_history-excerpt {
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.09);
}

.account_display {
    display: none;
}