.admin_header_wrapper{
    padding: 10px;
    box-shadow: 1px 5px 11px -2px rgba(0,0,0,0.28);
    .admin_header_logo{
        padding: 20px;
        font-size: 28pt;
        color: $font-color;
    }
}

.admin_menu{
    padding: 50px 0;
    box-shadow: 1px 5px 11px -2px rgba(0,0,0,0.28);
    display: inline-block;
    height: 100vh;
    div{
        padding: 15px 50px;
        font-size: 14pt;
        color: $font-color;
        border: 1px solid rgb(110, 110, 110);
        cursor: pointer;
    }
}

.admin_flex{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}