.admin_header_wrapper{
    padding: 10px;
    box-shadow: 1px 5px 11px -2px rgba(0,0,0,0.28);
    .admin_header_logo{
        padding: 20px;
        font-size: 28pt;
        color: $font-color;
    }
}

.admin_menu{
    padding: 30px 0;
    box-shadow: 1px 5px 11px -2px rgba(0,0,0,0.28);
    display: inline-block;
    height: 100vh;
    width: 240px;
    div{
        padding: 15px 30px;
        font-size: 12pt;
        color: $font-color;
        border: 1px solid rgb(110, 110, 110);
        cursor: pointer;
    }
    .admin_dashboard {
        font-size: 16pt;
        text-align: center;
        color: white;
        background-color: $dark_blue;
        padding: 5px;
    }
}

.admin_flex{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
    align-items: stretch;
}

// admin home portal

.admin_wrapper_portal_overview{
    box-shadow: 0px 1px 19px -1px rgba(0,0,0,0.24);
}

.admin_overview{
    background-color: $dark_blue;
    padding: 5px;
    text-align: center;
    font-size: 14pt;
    color: white;
}

.admin_home_first_body{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
    align-items: stretch;
    margin: 10px;
    > div{
        background-color: rgba(241, 241, 241, 0.685);
        box-shadow: 0px 1px 8px -1px rgba(0, 0, 0, 0.418);
        width: 200px;
        margin: 10px 10px;
        text-align: center;
        > div:nth-child(1){
            font-size: 14pt;
            padding: 8px 10px;
            border-bottom: 1px solid rgb(172, 172, 172);
        }
        > div:nth-child(2){
            font-size: 18pt;
            padding-top: 25px;
            padding-bottom: 30px;
        }
    }
}

//Add Inventory

.inventory_admin_panel{
    div{
        padding: 6px;
        input{
            width: 500px;
            padding: 10px;
            font-size: 12pt;
            border: 1px solid rgba(110, 110, 110, 0.61);
        }
        textarea{
            width: 500px;
            height: 100px;
            padding: 10px;
            font-size: 12pt;
            border: 1px solid rgba(110, 110, 110, 0.61);
            
        }
        select{
            width: 200px;
            height: 30px;
            font-size: 10pt;
            border: 1px solid rgba(110, 110, 110, 0.61);
        }
    }
}

.onSale{
    text-align: center;
    background-color: $blush;
    margin-top: 10px;
    border: 1px solid black;
    border-radius : 22px;
    width: 60px;
    height: 20px;
    cursor: pointer;
}

.notOnSale{
    text-align: center;
    margin-top: 10px;
    border: 1px solid black;
    border-radius : 22px;
    width: 60px;
    height: 20px;
    cursor: pointer;
}


//drop zone

.drop_zone_wrapper{
    border: 1px solid rgba(110, 110, 110, 0.61);
    text-align: center;
    width: 500px;
    margin: auto;
    div{
        font-size: 12pt;
        padding: 0px;
        color: rgba(94, 94, 94, 0.486);
    }
    .image_icon{
        font-size: 60pt;
        color: rgba(94, 94, 94, 0.486);
        padding-bottom: 10px;
    }
    button{
        font-size: 10pt;
        box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.075);
        border: 1px solid rgba(94, 94, 94, 0.918);
        color: rgba(58, 58, 58, 0.548);
        margin-bottom: 20px;
        margin-top: 10px;
        padding: 5px 10px;
        cursor: pointer;
    }
}

.inventory_admin_panel_title{
    text-align: center;
    font-size: 16pt;
    color: $font_color;
    padding-bottom: 20px;
}

// viewInventory 

.admin_product_table{
    padding: 20px;
}

.viewinventory_flex_wrapper{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
    align-items: stretch;
    background-color: rgba(241, 241, 241, 0.685);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.27);
    div{
        border-left: 1px solid rgba(126, 126, 126, 0.568);
        padding: 10px 10px 0 10px;
        cursor: pointer;
    }
    .name{
        width: 130px;
        text-transform: capitalize;
        font-size: 11pt;
        
    }
    .price{
        width: 50px;
        font-size: 10pt;
    }
    .description{
        width: 400px;
        font-size: 10pt;
    }
    .category{
        width: 60px;
        text-transform: capitalize;
        font-size: 10pt;
    }
    .scent_family{
        // width: 50px;
        text-transform: capitalize;
        font-size: 10pt;
    }
}

.viewinventory_wrapper_body{
    box-shadow: 0px 1px 19px -1px rgba(0,0,0,0.24);
}

.viewinventory_flex_wrapper_title{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
    align-items: stretch;
    background-color: $dark_blue;
    color: white;
    padding: 10px 0;
    .title_image{
        width: 75px;
        padding-left: 20px;
    }
    .title_name{
        width: 150px;
        padding-left: 20px;
    }
    .title_price{
        width: 70px;
    }
    .title_description{
        width: 410px;
    }
    .title_category{
        width: 90px;
    }
    .title_scentfamily{
        width: 120px;
    }
}

// customers 

.admin_customers_flex{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
    align-items: stretch;
    div{
        width: 200px;
        padding: 10px;
        border: 1px solid rgb(51, 51, 51);
    }
    .email{
        width: 250px;
    }
}

.admin_orders_flex{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
    align-items: stretch;
    div{
        width: 200px;
        padding: 10px;
        border: 1px solid rgb(51, 51, 51);
    }
}

// edit product page

.edit_products_modal_backdrop {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 40px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.edit_product_flex{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
    align-items: stretch;
    img{
        margin-right: 20px;
    }
}


.edit_products_modal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 70%;
    font-size: 14pt;
    box-sizing: border-box;
    // text-align: center;
    img{
        padding: 10px;
    }
    .modal_title{
        padding: 5px;
        input{
            width: 400px;
            font-size: 12pt;
            padding: 5px;
        }
        textarea{
            width: 400px;
            padding: 5px;
            height: 80px;
            font-size: 11pt;
        }
    }
    button{
        padding: 5px 20px;
        font-size: 14pt;
        margin-top: 30px;
        margin-left: 10px;
        transform: translateX(-140px);
    }
}

.modal_sale{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: baseline;
    align-items: stretch;
    div{
        margin: 10px;
    }
}

.modal_select{
    select{
        padding: 10px;
        font-size: 12pt;
        margin-right: 20px;
    }
}

.edit_products_name{
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    font-size: 20pt;
    border-bottom: 1px solid rgba(107, 107, 107, 0.699);
    padding-bottom: 10px;
}

.edit_onSale{
    font-size: 10pt;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 34px;
    padding: 4px 8px;
    background-color: $blush;
    cursor: pointer;
}

.edit_notOnSale{
    font-size: 10pt;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 34px;
    padding: 4px 8px;
    cursor: pointer;
}