.cart-body {
    min-height: 60vh;
    width: 80%;
    margin: auto;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    img {
        height: 150px;
    }
}

.cart-column-names {
    display: inherit;
    flex-direction: row;
    padding: 10px 20px;
    text-align: right;
    .cart-right {
        width: 40%;
    }
}

.cart-line-item-wrapper {
    display: inherit;
    flex-direction: column;
    padding: 10px 20px;
}

.cart-line-item {
    display: inherit;
    justify-content: space-between;
}

.cart-left, .cart-right {
    display: inherit;
    padding: 10px;
    align-items: center;
    div {
        padding: 10px 20px;
    }
}

.cart-left {
    width: 60%;
    justify-content: space-between;
    a {
        color: black;
        &:visited {
            color: black;
        }
        &:hover {
            color: rgba(0,0,0,.5);
        }
    }
    button {
        border: none;
        font-size: 14px;
        &:focus {
            outline: none;
        }
        &:hover {
            color: rgba(0,0,0,.5);
        }
    }
}

.cart-right {
    justify-content: space-around;
    width: 40%;
}

.cart-totals {
    text-align: right;
    padding: 10px 40px;
}

.cart-qty {
    align-items: center;
    button {
        padding: 0 15px;
        border: none;
        font-size: 16px;
        &:focus {
            outline: none;
        }
        &:hover {
            color: rgba(0,0,0,.5);
        }
    }
}

.cart-product-name {
    text-transform: capitalize;
}

.cart-no-items {
    margin: 30px;
    text-align: center;
}

.cart_checkout_button{
    margin-left: 65vw;
    padding: 10px 20px;
}

.cart_checkout_button button{
    padding: 10px 20px;
    outline: none;
    cursor: pointer;
    
}