.chat_body {
    height: 350px;
    width: 280px;
    padding: 10px;
    position: fixed;
    bottom: 30px;
    right: 100px;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    box-shadow: 0px 5px 20px rgba(85, 85, 85, 0.514);
    input {
        width: 90%;
        font-size: 14px;
        padding: 5px;
        margin-top: 5px;
        outline: none;
        border: none;
        background-color: #f8f9fa;
        border-bottom: 1px solid rgba(110, 110, 110, 0.61);
    }
}

.chatbubble_title {
    font-size: 1.25em;
    font-weight: 600;
}

.chatbubble_how {
    margin: 20px 0 40px 0;
}

.papa {
    overflow-y: scroll;
    max-height: 80%;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
}

.messageholder {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    div {
        padding: 1px 5px;
    }
}

.message-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: auto;
    text-align: right;
    div {
        padding: 1px 5px;
    }
}

.messagename {
    font-size: .8em;
}

.typer {
    font-size: .8em;
    position: absolute;
    bottom: 40px;
}

.inputsholder {
    width: 98%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.chat-bubble {
    box-sizing: border-box;
    height: 50px;
    width: 50px; 
    border-radius: 50%;
    padding: 12px;
    color: white;
    font-size: 20px;
    background : -webkit-linear-gradient(0deg, rgba(83, 170, 178, 1) 0%, rgba(62, 195, 149, 1) 100%);
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
}
