.line_graph_body_main{
    margin: 20px 0px;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.31);
}

.line_graph_inner_wrapper{
    padding: 10px;
    margin: auto;
}

.order_flex{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
}