.displayproducts_base {
    padding: 0px;
    margin: 0px;
}

.displayproducts_box-area {
    padding: 100px 50px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}