.faq-body {
    box-sizing: border-box;
    padding: 100px 50px;
    width: 80%;
    margin: auto;
}

.faq-title {
    font-size: 2em;
    text-align: center;
}

.faq-question {
    font-weight: 600;
    margin: 25px 0 10px 0;
}