.footer-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    div {
        margin: 20px 0;
        text-align: center;
    }
    a {
        margin: 20px;
        color: black;
        &:visited {
            color: black;
        }
        &:hover {
            color: rgba(0,0,0,.5);
        }
    }
}

.disclaimer {
    font-size: .8em;
}