.header_has-children {
    display: none;
    position: absolute;
    background: white;
    transition: all .5s ease-in-out;
    color: black;
    padding: 15px 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

nav {
    display: flex;
    justify-content: space-around;
    transition: all .3 ease-in-out;
    list-style-type: none;
    position: fixed;
    height: 70px;
    align-items: center;
    width: 100%;
    font-size: 20px;
    color: black;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 10;
    a {
        color: black;        
    }

    > * > * {
        margin: 20px 20px 5px 20px;        
    }
} 

nav ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.header_show {
    margin: 0px;
    padding: 0px;

    > li:hover {
        background-color: white;

        > ul {
            display: flex;
            flex-direction: column;
            perspective: 1000px;

            > li {
                opacity: 0;
                
                @for $i from 1 through 8 {         
                    &:nth-child(#{$i}) {
                        animation-name: "menu";
                        animation-duration: 200ms * $i;
                        animation-timing-function: ease-in-out;
                        animation-fill-mode: forwards;
                        
                    }
                }
            }
        }
    }
}

@keyframes menu {
    0% {
        opacity: 0;
        transform: rotateY(-90deg) translateY(30px)
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg) translateY(0px)
    }
}

.header_logo {
    height: 35px;
    width: 35px;
    margin-top: 15px;
}


li > ul > li a:hover {
    color: gray;
    transition: all .3s ease-in-out;
}

.header-left {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 5px 20px;

    > * {
        margin-left: 40px        
    }
}

.header-right {
    margin-top: 10px; 
    
    > a {
        cursor: pointer;
        transition: 0.3s ease;
        border-top: 4px solid rgba(0, 0, 0, 0);
        border-bottom: 4px solid rgba(0, 0, 0, 0);
        padding: 15px 0;
        margin: 0 15px;
    }

    > a:hover {
        border-top: 4px solid #000;
        border-bottom: 4px solid #000;
        padding: 6px 0;
    }

}

.header_nav-move {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    transition: all .2s ease-in-out;
}

.header-minicart{
    position: fixed;
    background-color: rgb(255, 255, 255);
    padding: 10px 25px;
    z-index: 1;
    box-shadow: 2px 2px 24px -6px rgba(0,0,0,0.49);
    box-sizing: border-box;
    top: 7%;
    left: 60%;
    animation-name: header-minicart;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 1;
    text-align: end;
    button {
        width: 100px;
        padding: 5px 10px;
        margin: 10px 0 10px 10px;
        outline: none;
        cursor: pointer;
        // font-size: 14px;
        &:focus {
            outline: none;
        }
        &:hover {
            color: rgba(0,0,0,.5);
        }
    }
}

.to_scroll{
    overflow: scroll;
    max-height: 400px;
}

@keyframes header-minicart {
    0%   {opacity: 0;}
    100%   {opacity: 1;}
}

.qty{
    position: relative;
    color: white;
    // top: -10px;
    top: -2px;
    margin-left: 4px;
    font-size: 9pt;
    background-color: $blush;
    border-radius : 50%;
    padding: 5px 10px;
    z-index: 0;
}

.qty10{
    position: relative;
    color: white;
    // top: -10px;
    top: -2px;
    margin-left: 4px;
    font-size: 9pt;
    background-color: $blush;
    border-radius : 50%;
    padding: 5px 8px;
    z-index: 0;
}

.header_button {
    display: none;
    padding: 5px;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    outline: none;
}

.header_bars {
    cursor: pointer;
    z-index: 1;
    display: none;

    > div {
        width: 40px;
        margin: 0 auto;
    }
}

.header_bar1, .header_bar2, .header_bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.5s;

}
.bar1x {
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.bar2x { 
    opacity: 0;
}
.bar3x {
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.header_drop-down-menu {
    display: flex;
    background-color: white;
    font-size: 20px;
    color: black;

    a {
        color: black
    }

    li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-size: 15px;
    }

    ul {
        margin: 0;
        padding: 0;
    }
    
    > div {
        margin: 0 auto;
        padding-top: 20px;

        > div {
            font-weight: bold;
        }
    }
}

.header_drop-left  > div {
    margin-top: 10px;
}

@media(max-width: 700px) {
    .header_about {
        display: none;
    }

    .header-left {
        display: none;
    }

    nav  {
        > a {
            text-align: center;
        }
        > * {
            flex: 1;
        }
    }
    
    .header_login {
        display: none;
    }

    .header-right {
        text-align: center;
    }

    .header_bars {
        display: initial;
    }

    .header_account {
        display: none;
    }
}