.header_has-children {
    display: none;
    position: absolute;
    background: #c6c6c64b;
    transition: all .5s ease-in-out;
    color: black;
    padding: 5px;

}

nav {
    display: flex;
    justify-content: space-around;
    transition: all .5 ease-in-out;
    list-style-type: none;
    position: fixed;
    width: 100%;
    font-size: 20px;
    color: black;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    z-index: 10;
} 

nav ul {
    list-style-type: none;
}

nav ul li:hover ul {
    display: flex;
    flex-direction: column;
    transition: all .5 ease-in-out;
}

a {
    text-decoration: none;
}

.header_show {
    margin: 0px;
    padding: 0px;
}

.header_logo {
    height: 30px;
    width: 30px;
    margin-top: 20px;
}

nav > * > * {
    margin: 20px 20px 5px 20px;;
}

li > ul > li a:hover {
    color: white;
    transition: all .5s ease-in-out;
}

nav a {
    color: black;
}

.header-left {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 5px 20px;
}

.header-left > * {
    margin-left: 40px;
}

.header-right {
    margin-top: 20px;    

}

.header-right > a {
   transition: 0.3s ease;
   border-top: 4px solid rgba(0, 0, 0, 0);
   border-bottom: 4px solid rgba(0, 0, 0, 0);
   padding: 15px 0;
   margin: 0 15px;
}

.header-right > a:hover {
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    padding: 6px 0;
}