.landingpage{
    text-align: center;
    padding-top: 10px;
}

.landingpage_title{
    font-size: 6em;
    color: $font_color;
    padding-bottom: 10px;
}

.enter {
    font-size: 3em;
    color: $font_color;
}

.logo{
    padding: 0 10px;
    width: 70px;
}