.product-page-body {
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    display: flex;
    padding: 100px 50px;
    width: 80%;
    margin: auto;
    img {
        height: 400px;
        padding: 0 30px; 
        margin: 0 10px;    
    }
}

.product-page-info {
    display: inherit;
    flex-direction: column;     
    padding: 30px;
    div {        
        padding: 10px;
    }
    button {
        width: 150px;
        padding: 10px;
        margin: 10px;
        outline: none;
        cursor: pointer;
        font-size: 14px;
        &:focus {
            outline: none;
        }
        &:hover {
            color: rgba(0,0,0,.5);
        }
    }
}

.product-page-name {
    font-size: 2em;
    text-transform: capitalize;
}

.product-page-description {
    height: 100px;
    overflow: scroll;
}

.product-page-minicart{
    position: fixed;
    background-color: white;
    padding: 20px;
    z-index: 1;
    box-shadow: 2px 2px 24px -6px rgba(0,0,0,0.49);
    box-sizing: border-box;
    top: 10%;
    left: 60%;
    animation-name: minicart;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 1;
}

@keyframes minicart {
    0%   {opacity: 0;}
    25% {opacity: 1}
    50%   {opacity: 1;}
    75% {opacity: 1;}
    100%   {opacity: 0;}
}

