.productmodule_card {
    margin: 10px 20px 10px 20px;
    width: 300px;
    background-color: #f8f9fa;
    box-shadow: 0px 5px 20px rgba(85, 85, 85, 0.514);
}

.productmodule_card a {
    color: #333;
    text-decoration: none;
}

.productmodule_card:hover .productmodule_card-image img {
    width: 65%;
    filter: grayscale(0);
}

.productmodule_card-image {
    height: 250px;
    position: relative;
    overflow: hidden;
}

.productmodule_card-image img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-property: filter width;
    transition-duration: .3s;
}

.productmodule_card-body {
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
}

.productmodule_card-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.productmodule_card-title, .productmodule_card-excerpt {
    color: #777;
    text-align: center;
}

.productmodule_card-excerpt{
    padding-bottom: 10px;
}
.home_all_products {
    width: 60%;
}