.product-page-body {
    box-sizing: border-box;
    display: flex;
    padding: 100px 50px;
    width: 80%;
    margin: auto;
    img {
        height: 400px;
        padding: 0 30px; 
        margin: 0 10px;    
    }
}

.product-page-info {
    display: inherit;
    flex-direction: column;
    padding: 30px;
    div {
        padding: 10px;
    }
    button {
        width: 150px;
        padding: 10px;
        margin: 10px;
    }
}

.product-page-name {
    font-size: 2em;
    text-transform: capitalize;
}

.product-page-description {
    height: 100px;
    overflow: scroll;
}