@import 'variables';
@import 'header';
@import 'landingpage';
@import 'productmodule';
@import 'cart';
@import 'displayproducts';
@import 'productpage';
@import 'footer';
@import 'checkout';
@import 'faq';
@import 'account';
@import 'minicart';
@import 'contactus';

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

// home Page
.home_hero{
  padding-top: 100px;
  margin-left: 180px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
}

.home_gradientbox_women{
  padding: 200px 250px;
  background : -moz-linear-gradient(-4.56% -1.6% -38.42deg,rgba(255, 210, 225, 1) 0%,rgba(255, 180, 139, 1) 100%);
  background : -webkit-linear-gradient(-38.42deg, rgba(255, 210, 225, 1) 0%, rgba(255, 180, 139, 1) 100%);
  background : -webkit-gradient(linear,-4.56% -1.6% ,101.86% 99.04% ,color-stop(0,rgba(255, 210, 225, 1) ),color-stop(1,rgba(255, 180, 139, 1) ));
  background : -o-linear-gradient(-38.42deg, rgba(255, 210, 225, 1) 0%, rgba(255, 180, 139, 1) 100%);
  background : -ms-linear-gradient(-38.42deg, rgba(255, 210, 225, 1) 0%, rgba(255, 180, 139, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD2E1', endColorstr='#FFB48B' ,GradientType=0)";
  background : linear-gradient(128.42deg, rgba(255, 210, 225, 1) 0%, rgba(255, 180, 139, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD2E1',endColorstr='#FFB48B' , GradientType=1);
}

.home_gradient_box{
  transform: translateY(60px);
  margin: 10px;
  padding: 100px 90px;
  border-style: Solid;
  border-color: #F9C2BB;
  border-width: 4px;
  z-index: 1;
}

.home_grey_box{
  transform: translate(-300px, 40px);
  padding: 200px 120px;
  color: #ebeef3;
  background-color: #EBEEF3;
}

.home_flex{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
  align-content: stretch;
  width: 90%;
  margin: 100px auto;
}

.noDecor{
  text-decoration: none;
}

.login_button {
  margin-top: 200px;
  text-align: center;
}

.login_button > button {
  height: 100px;
  width: 150px;
  border: none;
}
