@import 'variables';
@import 'header';
@import 'landingpage';
@import 'productmodule';
@import 'cart';
@import 'displayproducts';
@import 'productpage';
@import 'footer';
@import 'checkout';
@import 'faq';
@import 'account';
@import 'minicart';
@import 'contactus';

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

// home Page
.home_hero{
  width: 90%;
  height: 90vh;
  margin: auto;
  background-image: url('https://s3-us-west-1.amazonaws.com/scentric/jaguar.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home_flex{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
  align-content: stretch;
  width: 90%;
  margin: 100px auto;
}

.noDecor{
  text-decoration: none;
}

.login_button {
  margin-top: 200px;
  text-align: center;
}

.login_button > button {
  height: 100px;
  width: 150px;
  border: none;
}
